# lib

In [15]:
import pandas as pd

# dataset

In [16]:
df = pd.read_csv('football.csv')
df[25:35]

                   name         club  age  ... club_id  big_club  new_signing
25      Per Mertesacker      Arsenal   32  ...       1         1            0
26       Sead Kolasinac      Arsenal   24  ...       1         1            0
27  Alexandre Lacazette      Arsenal   26  ...       1         1            0
28          Joshua King  Bournemouth   25  ...       2         0            0
29        Jermain Defoe  Bournemouth   34  ...       2         0            0
30      Charlie Daniels  Bournemouth   30  ...       2         0            0
31          Artur Boruc  Bournemouth   37  ...       2         0            0
32           Steve Cook  Bournemouth   26  ...       2         0            0
33     Junior Stanislas  Bournemouth   27  ...       2         0            0
34           Adam Smith  Bournemouth   26  ...       2         0            0

[10 rows x 17 columns]

In [17]:
df.shape

(461, 17)

In [18]:
df.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [19]:
df.describe()

              age  position_cat  ...    big_club  new_signing
count  461.000000    461.000000  ...  461.000000   461.000000
mean    26.804772      2.180043  ...    0.303688     0.145336
std      3.961892      1.000061  ...    0.460349     0.352822
min     17.000000      1.000000  ...    0.000000     0.000000
25%     24.000000      1.000000  ...    0.000000     0.000000
50%     27.000000      2.000000  ...    0.000000     0.000000
75%     30.000000      3.000000  ...    1.000000     0.000000
max     38.000000      4.000000  ...    1.000000     1.000000

[8 rows x 12 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          461 non-null    object
 1   club          461 non-null    object
 2   age           461 non-null    int64
 3   position      461 non-null    object
 4   position_cat  461 non-null    int64
 5   market_value  461 non-null    float64
 6   page_views    461 non-null    int64
 7   fpl_value     461 non-null    float64
 8   fpl_sel       461 non-null    object
 9   fpl_points    461 non-null    int64
 10  region        460 non-null    float64
 11  nationality   461 non-null    object
 12  new_foreign   461 non-null    int64
 13  age_cat       461 non-null    int64
 14  club_id       461 non-null    int64
 15  big_club      461 non-null    int64
 16  new_signing   461 non-null    int64
dtypes: float64(3), int64(9), object(5)
memory usage: 61.4+ KB

In [23]:
df['club'].unique()

array(['Arsenal', 'Bournemouth', 'Brighton+and+Hove', 'Burnley',
       'Chelsea', 'Crystal+Palace', 'Everton', 'Huddersfield',
       'Leicester+City', 'Liverpool', 'Manchester+City',
       'Manchester+United', 'Newcastle+United', 'Southampton',
       'Stoke+City', 'Swansea', 'Tottenham', 'Watford', 'West+Brom',
       'West+Ham'], dtype=object)

In [39]:
print("clubs             players in each club\n")
df['club'].value_counts() 
#df.columns = ['club', 'value_counts']

clubs             players in each club

Arsenal              28
Everton              28
Huddersfield         28
Liverpool            27
Manchester+United    25
Swansea              25
Leicester+City       24
Watford              24
Bournemouth          24
Southampton          23
Brighton+and+Hove    22
West+Ham             22
Stoke+City           22
Crystal+Palace       21
Newcastle+United     21
Manchester+City      20
Chelsea              20
Tottenham            20
West+Brom            19
Burnley              18
Name: club, dtype: int64

In [22]:
df['position'].unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       'SS', 'LM'], dtype=object)

In [40]:
df['position'].value_counts()

CB    85
CM    63
CF    61
GK    42
DM    36
LW    36
LB    35
RB    34
RW    32
AM    17
LM     8
SS     7
RM     5
Name: position, dtype: int64

## replacing nan values with logic

In [41]:
df.isnull().values.any()

True

In [42]:
df.isnull().sum()

name            0
club            0
age             0
position        0
position_cat    0
market_value    0
page_views      0
fpl_value       0
fpl_sel         0
fpl_points      0
region          1
nationality     0
new_foreign     0
age_cat         0
club_id         0
big_club        0
new_signing     0
dtype: int64

### do we need region for prediction????

In [60]:
df['region'] == 0

0      False
1      False
2      False
3      False
4      False
       ...
456    False
457    False
458    False
459    False
460    False
Name: region, Length: 461, dtype: bool

In [62]:
print(df[df['region'].isnull()])

             name          club  age  ... club_id  big_club  new_signing
188  Steve Mounie  Huddersfield   22  ...       8         0            0

[1 rows x 17 columns]

In [66]:
display(df.iloc[188])

name            Steve Mounie
club            Huddersfield
age                       22
position                  CF
position_cat               1
market_value             5.5
page_views                56
fpl_value                  6
fpl_sel                0.60%
fpl_points                 0
region                   NaN
nationality            Benin
new_foreign                0
age_cat                    2
club_id                    8
big_club                   0
new_signing                0
Name: 188, dtype: object

### so lets replace nan value with 4 bcoz it falls under category 4- other countries

In [76]:
import numpy as np
df['region'] = df['region'].replace(np.nan, 4)

In [77]:
display(df.iloc[188])

name            Steve Mounie
club            Huddersfield
age                       22
position                  CF
position_cat               1
market_value             5.5
page_views                56
fpl_value                  6
fpl_sel                0.60%
fpl_points                 0
region                     4
nationality            Benin
new_foreign                0
age_cat                    2
club_id                    8
big_club                   0
new_signing                0
Name: 188, dtype: object

In [78]:
df.isnull().sum()

name            0
club            0
age             0
position        0
position_cat    0
market_value    0
page_views      0
fpl_value       0
fpl_sel         0
fpl_points      0
region          0
nationality     0
new_foreign     0
age_cat         0
club_id         0
big_club        0
new_signing     0
dtype: int64